// Theme Specific Variables
$primaryColor: #00b2c4;
$primaryDarkColor: #037690;
$primaryDarkerColor: #012f3a;
$primaryTextColor: #ffffff;

$secondaryButtonBg:#037690 !default;
$secondaryButtonBorder:1px solid #037690 !default;

$primaryLightColor: #a7f3d0 !default;

$highlightBg: #F0FDFA !default;
$highlightTextColor: $primaryDarkerColor !default;
$highlightFocusBg: rgba($primaryColor, .24) !default;

@import '../_variables';
@import './_fonts';
@import '../../../../theme-base/_components';
@import '../_extensions';